@model VetMvc.Models.Usuario
@{
    ViewData["Title"] = "Eliminar Usuario";
}

<h1>Eliminar Usuario</h1>
<p>¿Seguro que deseas eliminar al usuario <strong>@Model.NombreCompleto</strong>?</p>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="Id" />
    <button class="btn btn-danger">Eliminar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
